<h1 class = 'profile-page'> Welcome to your Rumblr<%= session[:user_first]%> <%= session[:user_last]%></h1>

<ul class = 'profile-page'>
    <li> <%= session[:user_first] %> </li>
    <li> <%= session[:user_email] %> </li>
    <li> <%= session[:user_password] %> </li>
    <li>  <%= session[:user_birthday] %>  </li>
</ul>